html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #4ca03d;
  font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

.perfil-animal {
  background: linear-gradient(#3ff490, transparent);
  color: #333;
}

.perfil-animal .sombra {
  position: absolute;
  display: block;
  background: linear-gradient(transparent, rgba(47, 171, 57, 0.5));
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}

.perfil-animal .portada-animal,
.perfil-animal .sombra {
  border-radius: 0 0 20px 20px;
}

.perfil-animal img {
  width: 100%;
}

.contenedor-animal {
  margin-left: 100px;
  margin-right: 100px;
}

.perfil-animal .contenedor-animal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.perfil-animal .portada-animal {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 20rem;
  width: auto;
  margin-bottom: 0.5rem;
}

.perfil-animal .avatar-animal {
  display: block;
  width: 230px;
  height: 230px;
  background-color: #d9dcf1;
  bottom: -130px;
  left: 4rem;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid #ffffff;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}

.perfil-animal .cambiar-foto-animal {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  height: 57%;
  bottom: 0;
  left: 0;
  color: #fff;
  text-decoration: none;
  transform: translateY(50%);
  opacity: 0;
  transition: all ease-in 200ms;
}

.perfil-animal .cambiar-foto-animal i {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.perfil-animal .avatar-animal:hover .cambiar-foto-animal {
  transform: translateY(0);
  opacity: 1;
}

.perfil-animal .datos-animal {
  position: absolute;
  display: block;
  width: calc(100% - 230px - 8rem);
  right: 0;
  bottom: 0;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px; /* Añade relleno al div para separar el texto del borde */
}

.perfil-animal .titulo-animal {
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  overflow: auto; /* Muestra barras de desplazamiento si el contenido es demasiado grande */
  word-wrap: break-word; /* Realiza saltos de línea dentro de palabras largas si es necesario */
}

.perfil-animal .bio-animal {
  font-size: 1em;
  margin-bottom: 0.75rem;
  overflow: auto; /* Muestra barras de desplazamiento si el contenido es demasiado grande */
  word-wrap: break-word; /* Realiza saltos de línea dentro de palabras largas si es necesario */
}

.perfil-animal .lista-animal li {
  display: inline-block;
  font-size: 1em;
  margin-right: 1rem;
}

.perfil-animal .opciones-animal {
  display: block;
  position: absolute;
  left: 87%;
  top: 1rem;
}

.perfil-animal .opciones-animal button {
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}

.perfil-animal .menu-animal ul {
  display: flex;
  list-style: none;
  margin-left: calc(200px + 8rem);
  width: calc(100% - 200px - 8rem);
}

.perfil-animal .menu-animal ul li {
  margin-right: 1rem;
}

.perfil-animal .menu-animal a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 8px;
  transition: all ease-in 100ms;
}

.perfil-animal .menu-animal a:hover {
  background-color: #4cb0c6;
  color: #fff;
}

.perfil-animal .icono-animal {
  display: none;
  margin-right: 0.75rem;
}

@media (max-width: 780px) {
  .perfil-animal .contenedor-animal {
    width: 100%;
  }

  .perfil-animal .avatar-animal {
    left: calc(50% - 115px);
  }

  .perfil-animal .datos-animal {
    bottom: 200px;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
  }

  .perfil-animal .bio-animal {
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .perfil-animal .titulo-animal {
    font-size: 2.1rem;
  }

  .perfil-animal .portada-animal {
    height: 28rem;
  }

  .perfil-animal .menu-animal ul {
    flex-direction: column;
  }

  .perfil-animal .menu-animal {
    margin-top: 2rem;
  }

  .perfil-animal .menu-animal ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
    width: 70%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  }

  .perfil-animal .icono-animal {
    display: inline-block;
  }
}

.perfil-animal .contenedor-animal button.subir-imagen {
  display: block;
  margin: 2rem auto 2rem; /* Aumenta el espacio superior y centra horizontalmente */
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para el botón "Subir imagen" en pantallas pequeñas (responsive) */
@media (max-width: 780px) {
  .perfil-animal .contenedor-animal button.subir-imagen {
    margin: 5rem auto 2rem; /* Aumenta el espacio superior y centra horizontalmente */
  }
}

/* Estilos para las imágenes subidas */
.perfil-animal .contenedor-animal .imagen-subida {
  width: 22%;
  height: 150px;
  margin: 1.5%;
  box-sizing: border-box;
  border: 2px solid #040404;
  transition: transform 0.2s;
  object-fit: cover;
  float: left; /* Mantienes float para alinear horizontalmente */
}

/* Estilos para las imágenes subidas en pantallas pequeñas */
@media (max-width: 780px) {
  .perfil-animal .contenedor-animal .imagen-subida {
    width: 48%; /* Ajustar el ancho para mostrar 2 imágenes por fila en pantallas pequeñas */
  }
}

/* Limpiar el diseño de la galería */
.perfil-animal .contenedor-animal:after {
  content: "";
  display: table;
  clear: both;
}

/* Estilos del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Estilos del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Estilos del botón Eliminar dentro del modal */
#btnEliminarModal,
#btnSalirModal {
  position: block;
  margin: 7px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Ocultar los botones después de eliminar */
.eliminado #btnEliminarModal,
.eliminado #btnSalirModal {
  display: none;
}

#btnEliminarModal {
  margin-left: 41%;
}

#portada-image-animal {
  max-width: 100%;
  max-height: 321px;
  border-radius: 0 0 20px 20px;
  display: block;
  position: absolute;
}

.avatar-animal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.editar-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px 10px;
  margin: 0 10px;
  cursor: pointer;
}

.guardar-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px 10px;
  margin: 0 10px;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center; /* Centra vertical y horizontalmente */
}

.perfil-animal-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-radius: 15px;
  margin: 20px auto; /* Centra horizontalmente utilizando el margen */
  max-width: 800px; /* Establece el ancho máximo deseado */
  width: 100%; /* Para asegurar que no sobresalga del contenedor padre */
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
}

.perfil-animal-footer .list-datos,
.perfil-animal-footer .lista-datos {
  list-style: none;
  flex: 1;
}

.perfil-animal-footer .list-datos li,
.perfil-animal-footer .lista-datos li {
  margin-bottom: 10px;
}

.perfil-animal-footer .list-datos li > .icono,
.perfil-animal-footer .lista-datos li > .icono {
  margin-right: 10px;
  font-size: 1.2rem;
  vertical-align: middle;
}

.perfil-animal-footer .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex: 1;
}

.perfil-animal-footer .buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.perfil-animal-footer .buttons button.editar-btn {
  background-color: #3498db;
  color: #fff;
}

.perfil-animal-footer .buttons button.guardar-btn {
  background-color: #2ecc71;
  color: #fff;
}

/********************************************************************/
/*SELECT*/
.titleContainer select {
  /*background-color: #58afd1;*/
  background-color: #2ecc71;
  color: white;
  padding: 8px;
  width: 100%;
  border: none;
  font-size: 1.2em;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.3s ease-out all;
}
.titleContainer select:focus {
  transition: 0.4s ease-in all;
  background-color: rgb(90, 166, 93);
}
.titleContainer{
    margin-bottom: 20px;
}
/*SELECT*/
.titleA {
  font-size: 1.4em;
}
.animalToShow {
  margin-bottom: 20px;
  display: grid;
  place-items: center;
}

/*BTN*/
.draw-border {
    box-shadow: inset 0 0 0 4px #2ecc71;
    color: #2ecc71;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  
  .draw-border::before,
  .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  
  .draw-border:hover {
    color: rgb(90, 166, 93);
  }
  
  .draw-border:hover::before,
  .draw-border:hover::after {
    border-color: rgb(90, 166, 93);
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 17px "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }
  
  .btn:focus {
    outline: 2px dotted #2ecc71;
  }
/**************************************BTN*************/
.imgAnimalShow {
  max-width: 500px;
  width: 100%;
}
.imgMostrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.imgMostrar :first-child {
  margin-bottom: 15px;
}
.imgMostrar > :not(:first-child) {
  margin-bottom: 15px;
}